@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
}

button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500px;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	width: 93%;
}

.logo {
	margin-left: 100px;
	cursor: pointer;
	font-family: "Lato", sans-serif;
	color: #212b41;
}

button {
	padding: 9px 25px;
	background-color: #47546e;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3 ease 0s;
}
button:hover {
	padding: 9px 25px;
	background-color: #212b41;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3 ease 0s;
}
body {
	font-family: "poppins", sans-serif;
	background-color: #b0d1c3;
}

.wrapper {
	width: 400px;
	height: 90%;
	margin: 0 auto;
}

.MainArea,
.SubArea {
	background-color: #212b41;
	color: #18d4a3;
	border-radius: 20px 20px 0 0;
}

.MainArea {
	padding: 20%;
	font-size: 50px;
}

.SubArea {
	float: right;
	padding: 10%;
	font-size: 20px;
}
.previous-number {
	float: right;
}

.current-number {
	float: right;
}
.grid-container {
	display: grid;
	grid-template-areas:
		"c1r1 c2r1 c3r1 c4r1"
		"c1r2 c2r2 c3r2 c4r2"
		"c1r3 c2r3 c3r3 c4r3"
		"c1r4 c2r4 c3r4 c4r4"
		"c1r5 c2r5 c3r5 c4r5";
	grid-gap: 10px;
	background-color: #2e3951;
	padding: 10px;
	color: #96a8a0;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 0 0 20px 20px;
}

.c1r1 {
	grid-area: c1r1;
}
.c2r1 {
	grid-area: c2r1;
}
.c3r1 {
	grid-area: c3r1;
}
.c4r1 {
	grid-area: c4r1;
}

.c1r2 {
	grid-area: c1r2;
}
.c2r2 {
	grid-area: c2r2;
}
.c3r2 {
	grid-area: c3r2;
}
.c4r2 {
	grid-area: c4r2;
}

.c1r3 {
	grid-area: c1r3;
}
.c2r3 {
	grid-area: c2r3;
}
.c3r3 {
	grid-area: c3r3;
}
.c4r3 {
	grid-area: c4r3;
}

.c1r4 {
	grid-area: c1r4;
}
.c2r4 {
	grid-area: c2r4;
}
.c3r4 {
	grid-area: c3r4;
}
.c4r4 {
	grid-area: c4r4;
}

.c1r5 {
	grid-area: c1r5;
}
.c2r5 {
	grid-area: c2r5;
}
.c3r5 {
	grid-area: c3r5;
}
.c4r5 {
	grid-area: c4r5;
}

.grid-container .calc {
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.grid-container .calc:hover {
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
	color: #0db387;
}

.sign-top {
	text-align: center;
	margin-left: 15px;
	color: #0db387;
	background-color: #212b41;
	border-radius: 100%;
	width: 50px;
	padding: 10px;
	font-size: 35px;
}
.sign-top:hover {
	text-align: center;
	margin-left: 15px;
	color: #212b41;
	background-color: #0db387;
	border-radius: 100%;
	width: 50px;
	padding: 10px;
	font-size: 35px;
}

.sign-AC {
	margin-left: 15px;
	color: #065842;
	background-color: #cbd0cf;
	border-radius: 100%;
	width: 50px;
	padding: 10px;
	font-size: 35px;
}
.sign-AC:hover {
	margin-left: 15px;
	color: #373e47;
	background-color: #ffffff;
	border-radius: 100%;
	width: 50px;
	padding: 10px;
	font-size: 35px;
}

.sign {
	margin-left: 20px;
	margin-top: 10px;
	color: #0db387;
	background-color: #212b41;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	padding: 8px;
	font-size: 32px;
	text-align: center;
}

.sign:hover {
	margin-left: 20px;
	margin-top: 10px;
	color: #212b41;
	background-color: #0db387;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	padding: 8px;
	font-size: 32px;
	text-align: center;
}

.equal {
	margin-left: 20px;
	margin-top: 10px;
	color: #212b41;
	background-color: #18d4a3;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	padding: 8px;
	font-size: 32px;
	text-align: center;
}

.equal:hover {
	margin-left: 20px;
	margin-top: 10px;
	color: #18d4a3;
	background-color: #212b41;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	padding: 8px;
	font-size: 32px;
	text-align: center;
}
